# Project
.github/
.git
.gitignore
.dockerignore
pyproject.toml
poetry.lock
.python-version
.flake8
.isort.cfg
.pre-commit-config.yaml
docker-compose.yml
Dockerfile
.env.dist
.venv

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Pytests
tests/

# Notebooks
notebooks/

# Application-generated data
# logs/
